<table>
  <% @brand.products.each_with_index do |product, i| %>
      <tr>
        <td>Product <%= i+1 %>: </td>

        <td><%= link_to("#{product.name}", "/brands/#{@brand.id}/products/#{product.id}")%></td>
        <td><%= link_to 'Destroy', [@brand, product], method: :delete, data: {confirm: 'Are you sure?'} %>

      <tr>
      </tr>
  <% end %>

</table><br>